@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates&display=swap');
@import '../../../node_modules/@fortawesome/fontawesome-free/css/all.css';

* {
  font-family: 'Source Code Pro', monospace;
}
a {
  color: #FFF;
}
html, body {
  background-color: #283040 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}